.banner {
  width: 101.5%;
  height: 550px;
  min-height: 100%;
  margin: -10px -10px -10px -10px;
  background: linear-gradient(130deg, rgba(0,174,239, 0.8) 15%, rgba(223,246,254, 0.8) 60%, rgba(249,230,116, 0.8) 90%), url("../image/sage1.jpg");
  background-repeat: no-repeat, no-repeat;
  display: flex;
  align-items: center;
  background-blend-mode: normal;
  mix-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: "Roboto";
}
.banner-image{
  background-blend-mode: overlay;mix-blend-mode: multiply;opacity: 78.87%;border: 1px solid #979797;
}

.banner-container {
  text-align: center;
  width: 680px;
  height: 300px;
  margin: 0 auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}

.banner-title {
  font-size: 60px;
  color: #F9F9F9;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-body {
  font-style: inherit;
  font-weight: lighter;
  font-size: 20px;
  color: #FCFCFC;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#sage-logo {
  height: 80px;
  margin-bottom: -13px;
}


.nav, .nav-home {
  margin-left: -15px;
  padding: 15px 0;
  position: fixed;
  width: 101.5%;
  transition: 300ms;
  z-index: 5;
  font-family: "Roboto";
}

.nav-container {
  display: flex;
  flex-flow: row;
  align-items: center;

}

.logo {
  background-image: url("../image/sage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 50px;
  width: 35px;
}

.nav-items-container {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item {
  color: white;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  font-weight: inherit;
}

.nav-item:hover {
  font-weight: bolder;
  text-shadow: 0px 2px 4px #828282);
  font-style: oblique;
}


.nav {
  background: #11B3F0;
}

.nav-home {
  background: transparent;
}


.body {
  width: 101.5%;
  margin: -10px;
  background: linear-gradient(270deg, #FEFAE3 -1.96%, #FAFCF9 55.22%, #CFEFFB 99.04%);
  /*background: #FEFCF2;*/
  background-blend-mode: screen;
  mix-blend-mode: normal;
  opacity: 10%;
  display: flex;
  align-items: center;
  z-index: -5;
  font-family: "Roboto";


  /*transform: matrix(1, 0, 0, -1, 0, 0);*/
}

.home-body {
  width: 101.5%;
  margin: -10px;
  background: white;
  display: flex;
  align-items: center;
  z-index: -5;
  font-family: "Roboto";
}

.home-triangle {
    border-bottom: 150px solid black;
    border-bottom-width: 200px;
    border-bottom-style: solid;
    border-bottom-color: black;
    position: fixed;
    margin-top: 100px;
    /*margin-left: 110px;*/
    z-index: 100;
    /*box-sizing: border-box;*/
}

.body-triangle {
    border-bottom: 150px solid transparent;
    border-bottom-width: 200px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    position: fixed;
    margin-top: 45px;
    margin-left: -10px;
    z-index: 0;
    /*box-sizing: border-box;*/
}

.body-container {
  width: 650px;
  height: 100%;
  margin: 0 auto;
  margin-top: 130px;
  z-index: 1;
  /*text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);*/
}

.body-item-container {
  text-align: left;
  margin-bottom: 120px;
}

.body-title {
  font-family: "Gotham";
  color: #11B3F0;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  /*padding-left:*/

}

.body-image {
  width: 100px;
  height: 100px;
  vertical-align: center;
  float: left;
  margin: 20px 25px 10px 10px;

}
.number-image-container {
  height: 150px;
}

.number-image {
  width: 120px;
  height: 200px;
  vertical-align: center;
  float: left;
  margin: 20px 10px 40px 30px;
}

#swirl {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#swirl:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.body-text {
  /*color: #656565;*/
  font-size: 18px;
  /*margin-bottom: 60px;*/
}

.number-text {
  padding: 0px 60px 0px 80px;
  font-size: 18px;
  text-align: center;
  height: 175px;

  /*margin-top: 70px;*/
  /*color: #11B3F0;*/

}


#t0 {
  color: transparent;
}

#t1 {
  display: none;
}

#t2 {
  display: none;
}

#t3 {
  display: none;
}

#t4 {
  display: none;
}

.people-container {
  margin-top: 50px;
  margin-left: 120px;
  z-index: 1;

}

.people-title {
  font-family: "Gotham";
  color: #11B3F0;
  font-size: 34px;
  font-weight: bold;
  margin: 30px 15px;
}

.people-card {
  width: 225px;
  height: 250px;
  /*padding: 30px 5px 10px 5px;*/
  /*background-color: white;*/
  text-align: center;
  margin: 0px 0px 60px 25px;
  display: inline-block;
  border-radius: 10px;
  border: .25px solid transparent;

}

.people-img {
  width: 150px;
  /*height: 100px;*/
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  border: 0.25px solid transparent;

}

.people-position {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 10px;
  padding-top: 10px;
  color: black;

}

.people-name {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: bold;
  padding-top: 20px;
  color: black;
}

.school-container {
  margin-top: 50px;
  margin-left: 120px;
  z-index: 1;

}

.school-card {
  width: 250px;
  height: 250px;
  /*padding: 0px 0px 0px 0px;*/
  background-color: white;
  text-align: center;
  margin: 10px 30px 40px 60px;
  display: inline-block;
  border-radius: 5px;
  border: 0.25px solid transparent;
}

.school-card:hover {
  box-shadow: 0px 2px 4px #828282;
  border: .25px solid #11B3F0;
}

.school-img {
  width: 250px;
  height: 160px;
  position: relative;
  overflow: hidden;
  /*border-radius: 10px;*/
  vertical-align: middle;
  display: inline-block;
  /*border: 0.25px solid #FEFAE3;*/

}

.school-type {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 10px;
  padding-top: 10px;
  color: #828282;

}

.school-name {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: bold;
  padding-top: 15px;
}